body, html {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: hsl(0, 0%, 95%);
}

.container0 {
  display: flex;
  flex-direction: row;
  width: 920px;
  height: 500px;
}

.left-section {
  background-color: hsl(31, 77%, 52%);
  width: 306px;
  border-radius: 8px 0 0 8px;
}

.middle-section {
  background-color: hsl(184, 100%, 22%);
  width: 306px;
}

.right-section {
  background-color: hsl(179, 100%, 13%);
  width: 306px;
  border-radius: 0 8px 8px 0;
}

.logo-container {
  margin: 50px 0 0 50px;
}

img {
  width: 60px;
}

.title-container {
  font-family: Big Shoulders Display, arial;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  font-size: 40px;
  margin: 32px 0 0 46px; 
}

.text-container {
  font-family: Lexend Deca, arial;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  width: 210px;
  margin: 24px 0 54px 47px;
  line-height: 25px;
}

button {
  font-family: Lexend Deca, arial;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  height: 48px;
  width: 146px;
  border-radius: 25px;
  margin: 29px 0 50px 48px;
  cursor: pointer;
}

.button1 {
  color: hsl(31, 77%, 52%);
}

.button1:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%); 
}

.button2 {
  color: hsl(184, 100%, 22%);
}

.button2:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.button3 {
  color: hsl(179, 100%, 13%);
}

.button3:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

@media (max-width: 450px) {
  .container0 {
    flex-direction: column;
    margin: 20px 0 0 34px;
  }

  .left-section {
    border-radius: 8px 8px 0 0;
  }

  .button1:active {
    background-color: hsl(31, 77%, 52%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%); 
  }

  .middle-section {
    border-radius: 0;
  }

  .button2:active {
    background-color: hsl(184, 100%, 22%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  .right-section {
    border-radius: 0 0 8px 8px;
  }

  .button3:active {
    background-color: hsl(179, 100%, 13%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }
}